/demo/obj
/demo/bin
/helloworld/.vscode
/helloworld/obj
/helloworld/bin
/hw-mvc/obj
/hw-mvc/.vscode
/hw-mvc/bin
/DC/DC.Infrastructure/bin
/DC/DC.Infrastructure/obj
/DC/.vs
/DC/.vscode
/DC/packages
/DC/DC.Infrastructure_Test/obj
/DC/DC.Infrastructure_Test/bin
/DC/DC.Log/obj
/DC/DC.Log/bin
/DC/DC.MongoDB/bin
/DC/DC.MongoDB/obj
