<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="DC.Log"/>
    </extensions>
    <targets>
        <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.txt" />
        <target xsi:type="Mongo"
                name="mongoDb"
                connectionName=""
                connectionString="mongo://localhost:27017"
                collectionName=""
                cappedCollectionSize="Long"
                cappedCollectionMaxItems="Long"
                databaseName="DC.Log"
                includeDefaults="Boolean">
            
            <!-- repeated --> 
            <field name="String" layout="Layout" bsonType="Boolean|DateTime|Double|Int32|Int64|String"  />
            
            <!-- repeated --> 
            <property name="String" layout="Layout" bsonType="Boolean|DateTime|Double|Int32|Int64|String"  />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
        <logger name="*" minlevel="Info" writeTo="mongoDb" />
    </rules>
</nlog>